body {
    font-family: "Cascadia Mono", sans-serif;
    background: rgb(97, 64, 81);
    display: flex;
    height: 100vh;
    flex-direction: column;
    transition: 0.3s;
}

header{
    width: 100%; 
    height: 50px;
    background: rgb(161, 143, 152);
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header label{
    font-family: "Cascadia Mono", sans-serif;
    padding: 30px;
    padding-top: 30px;
    margin: 10px;
}
header button{
    font-family: "Cascadia Mono", sans-serif;
    padding: 5px;
    color: aliceblue;
    border-radius: 8px;
    border: 1px solid #131114;
    background: #131114;
    margin: 10px; 
    cursor: pointer;
    transition: 0.3s;
}
header button:hover{
    border-color: aliceblue;
    background: rgb(133, 36, 85);
}

.content{
    background:rgb(161, 143, 152);
    width: calc(100% - 40px);
    height: 80%;
    overflow: auto;
    position: absolute;
    top: 10%;
    /*margin-left: 50px;*/
    transform-origin: 0% 0%;
    transition: all 0.3s;
    border-radius: 8px;
    padding: 10px;
}

.list{
    table-layout: fixed;
    width: 100%;
    border-spacing: 0px 2px;
}

.list tr{
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #406140;
    text-align: center;
    text-indent: 0% 50%;
}

.list tr label{
    color: aliceblue;
}

.list tr button{
    font-family: "Cascadia Mono", sans-serif;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 8px;
    border: 1px solid #131114;
    background: #131114;
    margin: 10px; 
    cursor: pointer;
    transition: 0.3s;
}
.list tr button:hover{
    background: #93B693;
    color: #131114;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer select{
    margin: 20px;
    border-radius: 8px;
    background-color: #131114;
    color: aliceblue;
    cursor: pointer;
}

footer button{
    margin: 20px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 30px;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 40px;
    border: 1px solid #131114;
    background: #131114;
    margin: 10px; 
    cursor: pointer;
    transition: 0.3s;

}

footer button:hover{
    background: #93B693;
    color: #131114;
    font-weight: bold;
}